# Скомпилированные файлы (байт-код)

*.class
*.log
*.ctxt

# Архивы сборки

*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Папки сборки инструментов (Maven и Gradle)
target/
build/
.gradle/
out/

# Настройки сред разработки (IDE)
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.metadata/
.classpath
.project
.settings/
*.launch

# NetBeans
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
/.nb-gradle/

# Системные файлы конфигурации сред или ОС
.DS_Store
Thumbs.db

